*.o
*.a
*.la
*.so
*.elc
*.pyc
*.class
*.jar
*.classpath
*.settings/
*.project
*.sconsign.dblite
*.iml
*.exe
.idea
.lein
*.DS_Store

utils/.emacs.d/tramp
utils/.emacs.d/ac-comphist.dat
utils/.emacs.d/auto-save-list/
utils/.emacs.d/session.*
utils/.emacs.d/.session
utils/.emacs.d/anything-c-adaptive-history
utils/.emacs.d/org-clock-save.el
utils/.emacs.d/backups/
utils/.emacs.d/.smex-items

essay/images/.DS_Store

essay/*.html
essay/note/*.html
essay/note/private
www/images
sae/
www/kylin.html

code/java/*/target

